html,
body {
	position: relative;
	margin: 0;
}

#sample {
	overflow: hidden;
}

.fba-list,
.fba-album {
	margin: 1em 1.5em 0 1.5em;
}

.fba-list.loading,
.fba-album.loading {
	min-height: 12.5em;
	background: url(preloader.gif) no-repeat center;
}

.fba-list li,
.fba-album li {
	float: left;
	width: 25%;
	padding: 0 .625em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 2em 0;
	list-style: none;
	text-align: center;
}

.fba-list li.loading,
.fba-album li.loading {
	min-height: 7.5em;
	padding-top: 3.125em;
	background: url(preloader.gif) no-repeat top center;
}

.fba-list li:nth-child(4n+1),
.fba-album li:nth-child(4n+1) {
	clear: left;
}

.fba-list li img,
.fba-album li img {
	display: block;
	margin: 0 auto .625em;
	height: 8.125em;
	width: auto;
}

.fba-breadcrumbs {
	margin: 0 0 1.5em 1.5em;
}

.fba-modal--active {
	position: relative;
	height: 100%;
}

.fba-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
}

.fba-modal__inner {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	max-height: 100%;
	margin: 0 auto;
	max-width: 800px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.fba-modal__inner img {
	max-height: 100%;
	max-width: 100%;
}

.fba-modal__close {
	position: absolute;
	top: -1.5em;
	right: -1em;
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
}